*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --main-bg-color: #1b271e;
    --display-bg-color: #3d523df0;
    --btn-bg-color: #85a085;
    --calculator-bg-color: #ffffff40;
    --backspace-btn-color: rgb(247, 108, 108);
    --clear-btn-color: rgb(230, 221, 108);
    --btn-hover-highlight-color: #ffffff8f;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: var(--main-bg-color);
  color: #333;
  display: flex;
  height: 100vh;
  min-height: 600px;
  width: 100vw;
}

#container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

#calculator {
    min-height: 600px;
    height: 65%;
    
    width: 35%;
    min-width: 440px;
    border-radius: 30px;
    border: black solid 8px;
    display: flex;
    flex-direction: column;

    background-color: var(--calculator-bg-color);
    color: white;

    box-shadow: inset 1px 1px 5px 1px black;
}

#btn-backspace {
    background-color: var(--backspace-btn-color);
}

#btn-clear {
    background-color: var(--clear-btn-color);
}

#btn-backspace:focus-visible,
#btn-clear:focus-visible {
    outline: none;   /* custom glowing outline */
    opacity: 80%;
    outline-offset: 3px;          /* little spacing looks cleaner */      
}

#calculator>#keyboard {
    flex: 2;
    display: flex;
    flex-direction: column;
}


#keyboard>#keyboard_high_part {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    gap: 1rem;
}

#keyboard>#keyboard_high_part>div {
    flex: 1;
    display: flex;

    gap: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

#keyboard .row{
    flex: 1;
    display: flex;
    gap: 5px;
}



.row > button {
    flex: 1;

    /* Shape */
    border-radius: 6px;
    padding: 0.3rem 0.4rem;

    /* Typography */
    font-size: large;
    font-weight: bold;

    /* Remove default border */
    border: none;

    /* 3D VINTAGE CALCULATOR MAGIC */
    background: var(--btn-bg-color);
    box-shadow:
        2px 5px 3px hsl(0, 0%, 0%),                 /* hard bottom edge */
        inset 0 3px 3px rgba(255,255,255,0.25), /* top highlight */
        inset 1px -5px 6px rgba(0,0,0,0.7);        /* bottom inner shadow */

    /* Interaction */
    transition: transform 0.05s ease;

    /* Flex to center content */
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-bg-color);
}


.row>button:hover {
    background-color: var(--btn-hover-highlight-color);
    scale: 1.02;
}

.row > button:focus-visible {
    outline: none;   /* custom glowing outline */
    background-color: var(--btn-hover-highlight-color);
    outline-offset: 3px;          /* little spacing looks cleaner */      
}


.row>button:active {
    scale: 1;
    box-shadow:
    1px -1px 0px hsl(0, 0%, 0%),                 /* hard bottom edge */
    inset 0 3px 3px rgba(255,255,255,0.25), /* top highlight */
    inset 1px -5px 6px rgba(0,0,0,0.7);  
}

.row>button:target {
    background-color: #333;
}

#display {
    margin: 1rem;
    flex: 1;
    border-radius: 30px;
    border: black solid 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;

    background-color: var(--display-bg-color);
}

